@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Formulario</h1>
    <p class="lead">Aplicacion de Formulario para datos personales para mayores de 15 años</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Formulario</h2>
        <p>
            Llenar el formulario para crear a alguien nuevo en el sistema
        </p>
        <p>@Html.ActionLink("Llenar formulario »", "Create","Formularios",new {area="" },new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Administrar</h2>
        <p>
			Ver la lista de personas ingresadas y administrar cada una.
		</p>
        <p>@Html.ActionLink("Ver »","Index","Formularios", new { area = ""},new { @class = "btn btn-default" })</p>
    </div>
    
</div>